.rich-editor {
    margin-top: $default-padding;
    display: flex;
    flex-direction: column;  
      
    background: transparent;
    &__controller {
      button {
        padding: $large-padding;
        outline: none;
      }
    }

    &__content {
      overflow: auto;
      margin-top: $default-padding;
      width: 100%;
      border: $default-border;
      padding: $default-padding;
    }
  }